.um-create-site {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 50px;
}

.um-create-site__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  text-transform: uppercase;
  color: #3657C8;
}

.um-create-site__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.um-menu-create-site {
  position: fixed;
  left: 4000px;
}

.um-menu-create-site__list {
  width: 100px;
}

.um-menu-create-site__item {
  margin-bottom: 29px;
}

.um-menu-create-site__link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #0B1331;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.um-menu-create-site__link:hover, .um-menu-create-site__link:focus {
  color: #3657C8;
}

.um-menu-create-site__link:active {
  color: #0B1331;
}

.um-menu-create-site__link:hover > i,
.um-menu-create-site__link:focus > i {
  color: #3657C8;
}

.um-menu-create-site__link:active > i {
  color: #0B1331;
}

.um-menu-create-site__link--active {
  color: #3657C8;
}

.um-content-create-site__title {
  max-width: 781px;
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #0B1331;
}

.um-content-create-site__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.um-content-create-site__item {
  margin-bottom: 24px;
}

.um-type-create-site {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 346px;
  max-width: 421px;
  height: 210px;
  width: 100%;
  padding: 116px 50px 5px 16px;
  border-radius: 12px;
  overflow: hidden;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.um-type-create-site:hover > .um-type-create-site__elem,
.um-type-create-site:focus > .um-type-create-site__elem {
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.um-type-create-site:active {
  opacity: .9;
}

.um-type-create-site__elem {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 106px;
  height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 60px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.um-type-create-site__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  color: #BFC6E0;
  -webkit-box-shadow: -3px -2px 19px 0px #c4b794;
          box-shadow: -3px -2px 19px 0px #c4b794;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 50px;
}

.um-type-create-site__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #FFFFFF;
}

.um-type-create-site__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.um-type-create-site--bg-magenta {
  background-color: #926CD0;
}

.um-type-create-site--bg-magenta .um-type-create-site__elem {
  background-color: #9D75DE;
}

.um-type-create-site--bg-magenta i {
  -webkit-box-shadow: -4px -3px 20px -9px #000;
          box-shadow: -4px -3px 20px -9px #000;
}

.um-type-create-site--bg-black {
  background-color: #0B1331;
}

.um-type-create-site--bg-black .um-type-create-site__elem {
  background-color: #282F4A;
}

.um-type-create-site--bg-black i {
  -webkit-box-shadow: -4px -3px 20px -9px #000;
          box-shadow: -4px -3px 20px -9px #000;
}

.um-type-create-site--bg-green {
  background-color: #80D9A1;
}

.um-type-create-site--bg-green .um-type-create-site__elem {
  background-color: #76CA95;
}

.um-type-create-site--bg-green i {
  -webkit-box-shadow: -4px -3px 20px -9px #000;
          box-shadow: -4px -3px 20px -9px #000;
}

.um-type-create-site--bg-yellow {
  background-color: #FAE174;
}

.um-type-create-site--bg-yellow .um-type-create-site__elem {
  background-color: #ECDB7B;
}

.um-type-create-site--bg-yellow i {
  -webkit-box-shadow: -4px -3px 20px -9px #000;
          box-shadow: -4px -3px 20px -9px #000;
}

.um-type-create-site--bg-pink {
  background-color: #DE75CD;
}

.um-type-create-site--bg-pink .um-type-create-site__elem {
  background-color: #D357C0;
}

.um-type-create-site--bg-pink i {
  -webkit-box-shadow: -4px -3px 20px -9px #000;
          box-shadow: -4px -3px 20px -9px #000;
}

.um-type-create-site--bg-orange {
  background-color: #ED954E;
}

.um-type-create-site--bg-orange .um-type-create-site__elem {
  background-color: #EF7F2B;
}

.um-type-create-site--bg-orange i {
  -webkit-box-shadow: -4px -3px 20px -9px #000;
          box-shadow: -4px -3px 20px -9px #000;
}

.um-add-create-site__text {
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #0B1331;
}

.text-color-black {
  color: #0B1331;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.um-add-create-site--none {
  display: none;
}

.um-button-create-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 285px;
  height: 68px;
  background: #3657C8;
  border-radius: 39px;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  cursor: pointer;
}

.um-button-create-site:hover, .um-button-create-site:focus {
  color: #0B1331;
}

.um-button-create-site:active {
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .um-create-site__title {
    margin-bottom: 27px;
  }
  .um-menu-create-site {
    position: static;
    width: 100px;
  }
  .um-content-create-site {
    margin-left: 100px;
    margin-top: -55px;
  }
  .um-content-create-site__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
  }
  .um-content-create-site__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .um-content-create-site__item:nth-child(odd) {
    margin-right: 40px;
  }
  .um-type-create-site {
    min-width: 346px;
    max-width: 346px;
  }
}

@media (min-width: 1280px) {
  .um-menu-create-site {
    position: static;
    width: 100px;
  }
  .um-content-create-site {
    margin-left: 150px;
    margin-bottom: 4px;
  }
  .um-content-create-site__item {
    margin-bottom: 40px;
  }
  .um-type-create-site {
    min-width: 421px;
    height: 164px;
    padding-top: 70px;
  }
}

input::-webkit-input-placeholder {
  color: #BFC6E0;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

input:-ms-input-placeholder {
  color: #BFC6E0;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

input::-ms-input-placeholder {
  color: #BFC6E0;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

input::placeholder {
  color: #BFC6E0;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

.um-form-create-site__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.um-form-create-site__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.um-form-create-site__label-setting-bold {
  margin-right: 16px;
}

.um-form-create-site__label-setting-italics {
  margin-right: 24px;
}

.um-form-create-site__label-setting-radio {
  margin-right: 16px;
}

.um-form-create-site__label-setting-color {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
}

.um-form-create-site__text {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #0B1331;
}

.um-form-create-site__text-color {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #0B1331;
  cursor: pointer;
}

.um-form-create-site__asterisk {
  margin-left: 4px;
  font-size: 20px;
  color: #D24B6C;
}

.um-form-create-site__input {
  padding: 10px 25px;
  max-width: 344px;
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid #BFC6E0;
  border-radius: 49px;
}

.um-form-create-site__input-none, .um-form-create-site__input-file {
  display: none;
}

.um-form-create-site__input-bold {
  display: none;
}

.um-form-create-site__input-bold:checked + i {
  color: #3657C8;
}

.um-form-create-site__input-italics {
  display: none;
}

.um-form-create-site__input-italics:checked + i {
  color: #3657C8;
}

.um-form-create-site__input-italics {
  display: none;
}

.um-form-create-site__input-italics:checked + i {
  color: #3657C8;
}

.um-form-create-site__input-setting-radio {
  display: none;
}

.um-form-create-site__input-setting-radio:checked + i {
  color: #3657C8;
}

.um-form-create-site__input-color {
  position: absolute;
  top: 15px;
  left: 6px;
  width: 0;
  height: 0;
  z-index: 0;
}

.um-form-create-site__icon-download {
  position: relative;
  padding: 10px 25px;
  max-width: 344px;
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid #BFC6E0;
  border-radius: 49px;
  cursor: pointer;
}

.um-form-create-site__icon-download span {
  color: #BFC6E0;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

.um-form-create-site__icon-download i {
  position: absolute;
  right: 3px;
  top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  background-color: #3657C8;
  color: #FFFFFF;
  border-radius: 50px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.um-form-create-site__icon-download:hover > i,
.um-form-create-site__icon-download:focus > i {
  color: #0B1331;
}

.um-form-create-site__icon-download:active > i {
  color: #0B1331;
}

.um-form-create-site__elem-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #000;
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
}

.um-form-create-site__label-setting-link {
  margin-left: 10px;
}

.um-form-create-site__btn {
  margin-top: 40px;
}

.um-form-create-site__wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 600px;
}

.um-form-create-site__textarea {
  border: 2px solid #BFC6E0;
  border-radius: 20px;
  max-width: 867px;
  width: 100%;
  height: 264px;
  padding: 25px;
}

.icon-um-bolt,
.icon-um-slash,
.icon-um-right,
.icon-um-center,
.icon-um-left {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .um-form-create-site__input {
    width: 400px;
  }
  .um-form-create-site__icon-download {
    width: 400px;
  }
}

.um-domain-create-site__info-list {
  margin-top: 34px;
}

.um-domain-create-site__info-item {
  position: relative;
  max-width: 571px;
  margin-bottom: 12px;
  margin-left: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #000000;
}

.um-domain-create-site__info-item::after {
  content: "";
  position: absolute;
  left: -24px;
  top: 7px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #3657C8;
}

.um-domain-create-site__text {
  margin-top: 67px;
  max-width: 571px;
  margin-bottom: 59px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #0B1331;
}

.um-domain-create-site__item {
  position: relative;
  margin-bottom: 74px;
}

.um-domain-create-site__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #3657C8;
  border-radius: 50px;
}

.um-domain-create-site__item h3 {
  width: 309px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #0B1331;
}

.um-domain-create-site__item p {
  width: 309px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #0B1331;
}

.um-domain-create-site__item--arrow::before {
  content: "";
  position: absolute;
  bottom: -67px;
  left: 20px;
  display: block;
  width: 4px;
  height: 56px;
  background-image: url("../../images/img/svg/Arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.um-style-form-create-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.um-style-form-create-site__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #0B1331;
}

.um-style-form-create-site__label {
  cursor: pointer;
  margin-bottom: 55px;
}

.um-style-form-create-site__wrap-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.um-style-form-create-site__elem {
  position: relative;
  margin-right: 11px;
  width: 22px;
  height: 22px;
  border: 1px solid #0B1331;
  border-radius: 50px;
  background-color: #fff;
}

.um-style-form-create-site__elem::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 12px;
  height: 12px;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  background-color: #3657C8;
  border-radius: 50px;
}

.um-style-form-create-site__radio {
  display: none;
}

.um-style-form-create-site__radio:checked + .um-style-form-create-site__elem::before {
  opacity: 1;
}

.um-style-form-create-site__number {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #0B1331;
}

.um-style-form-create-site__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}

.um-style-form-create-site__item {
  margin-right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.um-style-form-create-site__img {
  margin-right: 18px;
  width: 90px;
  -webkit-box-shadow: 4.97674px 4.97674px 24.8837px rgba(177, 177, 177, 0.25);
          box-shadow: 4.97674px 4.97674px 24.8837px rgba(177, 177, 177, 0.25);
}

.um-style-form-create-site__btn-wrap {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.add-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #BFC6E0;
}

.add-btn i {
  font-size: 14px;
}

@media (min-width: 768px) {
  .um-style-form-create-site {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .um-style-form-create-site__title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.um-page-create-site__wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.um-page-create-site__wrap-btn button {
  margin-bottom: 36px;
}

.um-setting-create-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 36px;
}

.um-setting-create-site__item {
  margin-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.um-setting-create-site__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 46px;
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.um-setting-create-site__btn:hover, .um-setting-create-site__btn:focus {
  color: #0B1331;
}

.um-setting-create-site__btn:active {
  color: #fff;
}

.um-setting-create-site__item-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #0B1331;
}

@media (min-width: 768px) {
  .um-page-create-site__wrap-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .um-page-create-site__wrap-btn button {
    margin-bottom: 0;
    margin-right: 43px;
  }
  .um-setting-create-site {
    text-align: center;
  }
  .um-setting-create-site__item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 12px;
  }
  .um-setting-create-site__item-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-bottom: 0;
  }
}

.um-content-create-site {
  max-width: 1019px;
  min-width: 320px;
  width: 100%;
}

.um-setting-block-create-site {
  position: relative;
  max-width: 1019px;
  min-width: 320px;
  width: 100%;
  padding-top: 80px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 52px;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 10px 20px rgba(161, 166, 185, 0.15);
          box-shadow: 10px 10px 20px rgba(161, 166, 185, 0.15);
  border-radius: 12px;
}

.um-setting-block-create-site__title {
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #0B1331;
}

.um-setting-block-create-site__title-block {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #BFC6E0;
}

.um-setting-block-create-site__btn-wrap {
  position: absolute;
  top: 24px;
  right: 47px;
}

.um-setting-block-create-site__block {
  margin-bottom: 20px;
}

.um-setting-block-create-site__text-mb {
  display: block;
  margin-bottom: 23px;
}

.um-setting-block-create-site__preview-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.um-setting-block-create-site__preview-list img {
  -webkit-box-shadow: 10px 10px 20px rgba(161, 166, 185, 0.15);
          box-shadow: 10px 10px 20px rgba(161, 166, 185, 0.15);
}

.um-setting-block-create-site__preview-item {
  margin-right: 10px;
}

.um-catalog-create-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.um-catalog-create-site__item {
  margin-right: 19px;
}

.um-paginator-create-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 60px;
}

.um-paginator-create-site__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.um-paginator-create-site__item {
  margin-right: 25px;
}

.um-paginator-create-site__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #696969;
}

.um-paginator-create-site__link--active {
  background-color: #696969;
  color: #fff;
  border-radius: 50px;
}

@media (min-width: 768px) {
  .um-setting-block-create-site {
    padding-top: 24px;
  }
}

.color-grey {
  background-color: #949AA5;
}

.color-black {
  background-color: #17181A;
}

.color-green {
  background-color: #03C04F;
}

.color-light-grey {
  background-color: #97A3AF;
}

.color-light-black {
  background-color: #0B1331;
}

.color-orange {
  background-color: #F46242;
}

.color-bold-grey {
  background-color: #696969;
}

.color-bold-black {
  background-color: #000000;
}

.color-blue {
  background-color: #0066FF;
}

.color-dark-blue {
  background-color: #3657C8;
}

.color-dark-grey {
  background-color: #B0BFF0;
}

.color-light-blue {
  background-color: #6ACDF8;
}
/*# sourceMappingURL=main.css.map */