* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: "opensans", sans-serif;
  margin: 0 auto;
  background-color: #FFF;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
fieldset {
  border: none;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

input,
textarea,
fieldset {
  border: none;
}

textarea {
  resize: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.franchise__table {
  padding: 15px;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

.franchise__table-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #0B1331;
}

.franchise__table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #BFC6E0;
}

.franchise__table-elem--green {
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #4CD964;
}

.franchise__table-elem:nth-child(1) {
  margin-right: auto;
  display: block;
  width: 140px;
}

.franchise__table-elem:nth-child(2) {
  width: 90px;
  text-align: center;
}

.franchise__table-elem:nth-child(3) {
  width: 90px;
  text-align: center;
}

.franchise__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}

.franchise__elem-title {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #0B1331;
}

.franchise__elem-text {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #0B1331;
}

.icon-um-ok {
  color: #4CD964;
}

.icon-um-close {
  color: #D24B6C;
}

@media (min-width: 768px) {
  .franchise__table-title {
    font-size: 36px;
  }
  .franchise__table-elem:nth-child(1) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .franchise__table-elem:nth-child(2) {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .franchise__table-elem:nth-child(3) {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .franchise__table-elem--green {
    font-size: 20px;
  }
  .franchise__elem-title {
    font-size: 24px;
  }
  .franchise__elem-text {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */